#title{
    background-color: #ff4c68;
}

.container-fluid{
    padding: 3% 15% 7%;
}

h1{
    font-family: "Montserrat";
    color: white;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3.0rem;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat";
    font-weight: 700;
}

p{
    color: gray;
}

/* Navbar */
.navbar-brand{
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 2.5rem;

}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 20px;
}

.nav-link{
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.2rem;
}

/* Download Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Tittle Image  */
.title-img{
    width: 21%;
    transform: rotate(25deg);
    position: absolute;
    left: 55%;
}

/* Features Section  */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.features-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
    transition: 0.4s;
}

.icon:hover{
    color: #ff4c68;
}


/* Testimonials Section  */
#testimonials{
    text-align: center;
    color: white;
    background-color: #ef8172 ;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section  */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section  */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    color: white;
    padding: 5% 15%;
}

.cta-heading{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3.0rem;
    line-height: 1.5;
}

#footer{
    text-align: center;
    margin: 7% 15%;
}

.social-icons{
    font-size: 20px;
    margin: 10px 20px;
    list-style: none;
    color: black;
}

/* Media */
@media (max-width : 1028px) {
    .title-img{
        position: static;
        transform: rotate(0);
        width: 60%;
    }

    #title{
        text-align: center;
    }
}


